body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  margin-bottom: 2rem;
}

.nav-item {
  padding: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

.mainContent {
  margin: 2rem 0;
}

h1#title {
  color: black;
  text-align: center;
}

.seating-chart {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}

.is-flipped .seating-chart {
  transform: scale(-1, -1);
}

.is-flipped .seating-chart p,
.is-flipped .seating-chart h2 {
  transform: scale(-1, -1);
}

.tables {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.table {
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.trio, .group {
  height: 160px;
  width: 160px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.trio, .group {
  border: 1px solid #696969;
}


button#generate-btn {
  background: #696969;
  background-image: linear-gradient(to bottom, #696969, #696969);
  border-radius: 10px;
  font-family: Arial;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

#generate-btn:hover {
  background: #696969;
  background-image: linear-gradient(to bottom, #696969,#696969);
  text-decoration: none;
}

p {
  font-size: 1.25em;
  padding: 0.25em;
  background-color: #eaeaea;
  text-align: center;
}

button#copy-link {
  background: #008000;
  background-image: linear-gradient(to bottom, #008000, #008000);
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

#login-form {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 2em;
}

/**
 * TOGGLE SWITCH
 */
.switch {
  opacity: 0;
  outline: 0;
  position: absolute;
  user-select: none;
}

.switch + label {
  color: #a5a5a5;
  cursor: pointer;
  padding-left: 3.5rem;
  position: relative;
  transition: all .25s ease-out;
  user-select: none;
}

.switch + label::before {
  background-color: #d5d5d5;
  border: 1px solid transparent;
  border-radius: 2rem;
  content: "";
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
}

.switch + label::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 1rem;
  position: absolute;
  top: .25rem;
  left: .25rem;
  transform: translate3d(0, 0, 0);
  transition: all .25s ease-out;
  width: 1rem;
}

.switch:checked + label::after {
  left: 1.625rem;
}

.switch:checked + label::before {
  background-color: #0074d9;
}
