body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1#title {
  color: black;
}

h1 {
  padding: 10px;
}


.tables {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.table {
  width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trio, .group {
  height: 150px;
  width: 150px;
  padding: 2x;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.trio, .group {
  border: 1px solid #696969;
}


button#generate-btn {
  background: #696969;
  background-image: linear-gradient(to bottom, #696969, #696969);
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-align: center;
}

#generate-btn:hover {
  background: #696969;
  background-image: linear-gradient(to bottom, #696969,#696969);
  text-decoration: none;
}

p {
  font-size: 1.3em;
  padding: 0.2em;
  background: #dedede;
  margin-top: 5px;
  text-align: center;
}

button#copy-link {
  background: #008000;
  background-image: linear-gradient(to bottom, #008000, #008000);
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-align: center;
}

#login-form {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 2em;
}
